<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/ASFIScholar Logo1.png">


    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/Styles/general.css">
    <link rel="stylesheet" href="/Styles/studentenrollment.css">
    <link rel="stylesheet" href="/files/icons/font-awesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/files/icons/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/files/icons/material-design-iconic-font/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="/files/icons/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/files/icons/weather-icons/css/weather-icons-core.css">

    <title>ASFI - Student Enrollment</title>
</head>
<body>

<div class="bg-purple circle top-circle"></div>
<div class="bg-purple circle mini1-circle"></div>
    <div class="main_signup_container">
        <div class="signup_container bg-shadow">
            <span class="asfi_text">ASFI</span>
            <span class="enroll_text">Enroll New Candidate</span>
           <form action="" class="main_form">
                <!-- STEP1 START -->
                <div class="sign-up_form">
                <input type="text" name="firstname" id="firstname" placeholder="First Name">
                <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                <input type="text" name="username" id="username" placeholder="Username (e.g @johndoe)">
                <input type="email" name="email" id="email" placeholder="Enter Email adddress">
                <div class="password_main"><input type="password" name="password" class="password" id="password" placeholder="Password">
                <span class="button bg-purple" type="submit">Generate Password</span></div>
                <input type="password" name="repeat_password" id="repeat_password" placeholder="Repeat Password">
                <span class="submit bg-purple">Next</span>
                </div>
                <!-- STEP1 ONE END -->
                <!-- STEP2 START -->
                <div class="step2">
                    <div class="info"><input type="date" name="DOB" id="DOB" placeholder="Date of Birth">
                    <select class="gender" name="gender" id="gender">
                        <optgroup>
                            <option value="">Select Gender</option>
                        </optgroup>
                        <optgroup>
                            <option value="Male">Male</option>
                        </optgroup>
                        <optgroup>
                            <option value="Female">Female</option>
                        </optgroup>
                        <optgroup>
                            <option value="Other">Other</option>
                        </optgroup>
                    </select></div>
                    <select class="hloe" name="highest_level_of_education" id="highest_level_of_education">
                    <optgroup>
                        <option class="option" value="">Highest Level of Education</option>
                    </optgroup>
                    <optgroup>
                        <option class="option" value="BSc and Above">BSc and Above</option>
                    </optgroup>
                    <optgroup>
                        <option class="option" value="Post-Graduate">Post-Graduate</option>
                    </optgroup>
                    <optgroup>
                        <option class="option" value="Undergraduate">Undergraduate</option>
                    </optgroup>   
                    <optgroup>
                        <option class="option" value="HighSchool">HighSchool</option>
                    </optgroup>
                    </select>
                    <input type="text" name="name_of_nok" id="name_of_nok" placeholder="Name of NOK">
                    <select class="hloe" name="relationship_with_nok" id="relationship_with_nok">
                        <optgroup>
                            <option class="option" value="">Relationship with NOK</option>
                        </optgroup>
                        <optgroup>
                            <option class="option" value="BSc and Above">Father</option>
                        </optgroup>
                        <optgroup>
                            <option class="option" value="Post-Graduate">Mother</option>
                        </optgroup>
                        <optgroup>
                            <option class="option" value="Undergraduate">Sibling</option>
                        </optgroup>   
                        <optgroup>
                            <option class="option" value="HighSchool">Relative</option>
                        </optgroup>
                        <optgroup>
                            <option class="option" value="HighSchool">Friend</option>
                        </optgroup>
                        </select>
                    <div class="password_main"><input type="email" name="email" class="password" id="nokemail" placeholder="NOK Email"></div>
                    <input type="number" name="nok_phonenumber" id="nok_phonenumber" placeholder="NOK Phonenumber">
                    <div class="button2"><span class="submit1">Prev</span><span class="submit2 bg-purple">Next</span></div>
                </div>
                    <!-- STEP2 ONE END -->
                <!-- STEP3 START -->
                <div class="step3">
                    <input type="text" name="nationality" id="nationality" placeholder="Nationality">
                    <input type="text" name="country_of_residence" id="country_of_residence" placeholder="Country of Residence">
                    <input type="text" name="state_of_residence" id="state_of_residence" placeholder="State of Residence">
                    <input type="email" name="home_address" id="home_address" placeholder="Home Address">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <div class="button3"><span class="submit1">Prev</span><span class="submit2 bg-purple">Next</span></div>
                </div>
                <!-- STEP3 ONE END -->
                <!-- STEP4 START -->

                <div class="step4">
                        <input class="" type="text" name="" id="myInput1" onclick="show_category" placeholder="Select Course">
                        <div>
                           <ul class="course_list" id="category1">
                             <li class="selectItem1"><span>Course1</span></li>
                             <li class="selectItem1"><span>Course2</span></li>
                             <li class="selectItem1"><span>Course3</span></li>
                             <li class="selectItem1"><span>Course4</span></li>
                             <li class="selectItem1"><span>Course5</span></li>
                             <li class="selectItem1"><span>Course6</span></li>
                             <li class="selectItem1"><span>Course7</span></li>
                             <li class="selectItem1"><span>Course8</span></li>
                             <li class="selectItem1"><span>Course9</span></li>
                             <li class="selectItem1"><span>Course10</span></li>
                           </ul>
                        </div>
                        <input class="" type="text" name="" id="myInput2" onclick="show_category" placeholder="Select School Year">
                        <div>
                           <ul class="year_list" id="category2">
                             <li class="selectItem2"><span>2024</span></li>
                             <li class="selectItem2"><span>2023</span></li>
                             <li class="selectItem2"><span>2022</span></li>
                           </ul>
                        </div>
                    <input class="readonly" type="text" name="cost_of_course" id="cost_of_course" placeholder="Cost of Course - N" readonly>
                    <input class="readonly" type="text" name="duration" id="duration" placeholder="Duration" readonly>
                    <input class="readonly" type="text" name="cost_per_session" id="cost_per_session" placeholder="Cost per Session - N" readonly>
                    <div class="button4"><span class="submit1">Prev</span><span class="submit2 bg-purple">Pay Now</span></div>
                </div>
                <!-- STEP4 ONE END -->
            </form>
            <span class="checkaccount">Already have an account? <a href="">Login</a></span>
        </div>
    </div>
<div class="bg-purple circle mini2-circle"></div>
<div class="bg-purple circle bottom-circle"></div>
<script src="/JS/footer.js"></script>


<script src="/JS/jquery-3.4.1.min.js"></script>
<script src="/JS/mainjs.js"></script>
<script>
    // filter_category
    $(document).ready(function(){
      $("#myInput1").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#category1 li.selectItem1").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $(document).ready(function(){
      $("#myInput2").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#category2 li.selectItem2").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    // Select Category
    $(document).ready(function(){
        $(".selectItem1").click(function(){
            var itemValu = $(this).text();
            $("#myInput1").val(itemValu);
        });
    });

    $(document).ready(function(){
        $(".selectItem2").click(function(){
            var itemValu = $(this).text();
            $("#myInput2").val(itemValu);
        });
    });

    // Hide Category
    $(document).ready(function(){
        $(".selectItem1").click(function(){
            $(".course_list").css("display", "none")
        });
    });

    $(document).ready(function(){
        $(".selectItem2").click(function(){
            $(".year_list").css("display", "none")
        });
    });
  </script>
    
<script>

// show_category
$("#myInput1").focus(function(){  
    if($("#category1").css("margin-top","-1000px")){
        $("#category1").css("position", "absolute")
        $("#category1").css("margin-top","0px")
        $(".course_list").css("display", "block")
    }
    
})




$("#myInput2").on("click", function(){    
    if($("#category2").css("margin-top","-1000px")){
        $("#category2").css("position", "absolute")
        $("#category2").css("margin-top","0px")
        $(".year_list").css("display", "block")
    }
})

</script>


</body>
</html>